.heading{
    display:flex;
    justify-content:center;
}

.mtab{
    display: flex;
    gap:68px;
}

.tabs{
    background-color: rgba(19, 99, 247, 0.591);
    color:white;
    height: 40px;
    width:120px;
    cursor:pointer;
    clip-path: polygon(26% 0, 100% 0, 100% 100%, 0 100%);
}

.tabh{
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal{
    margin-top: 0px;
    border-top:8px solid;
    opacity: 0.75;
    color:rgba(19, 99, 247, 0.591);
}






