
<!-- <h1 class="heading">Custom tabs</h1>
<div class="mtab">
  <div class="tabs" (click)="switchTab('tab1')">
    <p class="tabh">tab1</p>
  </div>
  <div class="tabs" (click)="switchTab('tab2')">
    <p class="tabh">tab2</p>
  </div>
  <div class="tabs" (click)="switchTab('tab3')">
    <p class="tabh">tab3</p>
  </div>
</div>
<hr class="horizontal">

<div *ngIf="tab1">
  in tab1
</div>

<div *ngIf="tab2">
  in tab2
</div>

<div *ngIf="tab3">
  in tab3
</div> -->

<h1>{{ 'hello-world' | translate }}</h1>
<h2>{{ 'my-bag-0' | translate }}</h2>

<mat-form-field>
  <mat-label>Select an option</mat-label>
  <mat-select (selectionChange)="switchLang($event)">
    <mat-option value="en">english</mat-option>
    <mat-option value="fr">french</mat-option>
  </mat-select>
</mat-form-field>



